.hm {
	width: 25%;
	width: 20%\9;
	float: left;
}



.hm .wxh,.hm .add,.s1 .add {
	z-index: 3;
	position: absolute;
	display: none;
	top: 50%;
	border-radius: 50%;
	margin: -7px 0 0 0;
	padding: 3px;
	padding: 2px\9;
	left: 12px
}



#k {
	position: relative
}

.r20:hover {
	background-color: #691881 !important;
	color: #f881ea !important
}

#tz {
	position: fixed;
	left: 0;
	bottom: 0
}

.jv {
	cursor: pointer;
	color: #ed11f6 !important
}

.m a,.m span,.m p,.m #so,.m #zj,.m #nb,.m #sf,.m #sn,.m .nb,.m .in,.m #h1,.m #h2 {
	transition: 0 !important
}

.f2 {
	font-family: '\5FAE\8F6F\96C5\9ED1','Microsoft YaHei','Oswald',helvetica,arial,sans-serif
}

#pr,#pr span,#jf {
	border: 1px solid #000
}

.co #fx,.co .xf {
	display: none
}

.r88 {
	background-color: #781ca3
}

.c0,.c0 .cw {
	width: 100%
}

.hm a:hover .na1,.na2 {
	display: none
}

.r83 {
	background-color: #7b0fa1
}

.post-wrap-b {
	border: 1px solid #72b332 !important;
	border-radius: 0 !important
}

.r44 {
	background-color: #4a1268
}

.r9:hover {
	background-color: #a067eb !important;
	color: #dbabd0 !important
}

.cw {
	margin: 0 auto;
	_margin: 0 auto
}

.bg101 #SOHUCS #SOHU_MAIN .user-name-gw a {
	color: #44708e !important
}

#sp2 {
	line-height: 17px;
	font-size: 12px;
	color: #96cca3;
	max-height: 17px;
	overflow: hidden;
	margin-top: 5px
}

.bg101 .user-name-gw {
	color: #c762f7
}

.r81 {
	background-color: #73bca8
}

.wrap-action-b {
	border-top: 1px solid #72b332 !important;
	background-color: transparent !important
}

.r14 {
	background-color: #848323
}

#ou a {
	display: block
}

.r74:hover {
	background-color: #55edcb !important;
	color: #c40559 !important
}



.hm a:hover .na2,.na1 {
	display: inline
}

.r17:hover {
	background-color: #76d2f9 !important;
	color: #f8f0ef !important
}

.pg2 .tog {
	background: #000
}


.r68:hover {
	background-color: #7f5696 !important;
	color: #f305d6 !important
}

.bg101 .fx {
	border-top: 1px solid #d1caca
}

.bg101 .wrap-name-b,.bg101 .wrap-join-b,.bg101 .gap-b {
	color: #333 !important
}

.r84 {
	background-color: #9e4a53
}



.r73 {
	background-color: #55edcb
}


.alike {
	padding: 10px
}



.r22:hover {
	background-color: #669 !important;
	color: #b7f5ed !important
}

#pr #prt {
	background: #3de6b6;
	font-weight: bold
}






.hm p {
	left: 0;
	height: 16px;
	line-height: 16px;
	overflow: hidden;
	text-align: center;
	position: absolute;
	bottom: 1px;
	width: 100%;
	color: #ecc8c8;
	background: url(t4.jpg)\9;
	background: rgba(0,0,0,.4)
}

#sp2 a {
	color: #96cca3
}





span.sm {
	display: none;
	margin-left: -4px
}



.tbg {
	background: #c7b1b1
}

.r20 {
	background-color: #b8ad85
}

.hm .su {
	right: 1px
}



.tb2 {
	background: #00a7c8
}

.r26 {
	background-color: #691881
}

.tb1 {
	background: #fff
}

.r6:hover {
	background-color: #2b7a9d !important;
	color: #b8a3be !important
}




.hm2 .hm .i:hover {
	opacity: .7;
	filter: alpha(opacity=70)
}

.r69:hover {
	background-color: #34c954 !important;
	color: #427094 !important
}

#dh:hover #dh1 {
	display: block
}


#h1 #sf {
	border: 0 solid transparent;
	background: #3fe91b
}



.r61 {
	background-color: #354c50
}






.r46:hover {
	background-color: #a051ca !important;
	color: #cf9cf7 !important
}

.tq,.th {
	position: absolute;
	height: 100%;
	top: 0
}

.tq {
	left: 0;
	width: 100px
}

.th {
	right: 0;
	width: 140px
}

.yc #zj {
	padding-bottom: 31px
}

#pt2 {
	background: url(t2.jpg)\9;
	background: rgba(0,0,0,.2);
	color: #FFF;
	transition: 0s
}

.r24:hover {
	background-color: #9c3 !important;
	color: #9b80cc !important
}


.tq1.on:hover {
	background-position: -94px -484px;
	background-position: -94px -485px\9
}

.r66 {
	background-color: #4f5150
}

.yc .pg3 .to1 {
	background: #fff
}

#ho,#dh,#see,#log,#ssc {
	text-align: center;
	line-height: 45px;
	height: 45px;
	color: #fff;
	font-size: 14px
}

.r17 {
	background-color: #9624e6
}

.co #h1 {
	background: url(images/8.png) repeat-x 0 -424px !important
}

.r68 {
	background-color: #34c954
}



.hm .i {
	max-width: 100%;
	height: auto;
	opacity: 1;
	
}
.hm .i:hover {
	opacity: 1;
	filter: alpha(opacity=100);
	rotatez(-360deg);-webkit-transform: rotatey(0deg);
	-moz-transform: rotatey(-180deg);
	-ms-transform: rotatey(-180deg);
	-o-transform: rotatey(-180deg)
}

.r16:hover {
	background-color: #899c8d !important;
	color: #f3bb7e !important
}

#zj.on .io {
	cursor: move
}

.tog,.tbg {
	width: 100%
}

.tog {
	background: #613e3e
}

.o5 {
	opacity: .5;
	filter: alpha(opacity=50)
}

.r64 {
	background-color: #720a80
}

.bg101 #xct:hover {
	background: #f7bdbd;
	color: #666
}

.r74 {
	background-color: #2f9fb9
}

.pg3 .to2 {
	background: #ff7e0c
}

.r43:hover {
	background-color: #b1adac !important;
	color: #8b4b91 !important
}





.r87 {
	background-color: #142952
}

.yc .pg3 .ta {
	background: #000
}


.r76:hover {
	background-color: #1c3a24 !important;
	color: #3bc78f !important
}

:-webkit-full-screen {
	background-color: black
}

.wrap-name-b,.wrap-join-b,.gap-b {
	color: #fff !important
}



.r22 {
	background-color: #f99
}

.yc .pg3 .to3 {
	width: 0
}

.pg1 .tay2 {
	background: #fff
}

.r81:hover {
	background-color: #8c956e !important;
	color: #11eedc !important
}

.bg101 #h1 #sf:hover {
	background: #000
}

.r62 {
	background-color: #390a66
}





.r72:hover {
	background-color: #8e187e !important;
	color: #f31250 !important
}

.bg101 .block-cont-bg .wrap-word-bg {
	color: #666 !important
}

.on .tq,.on .th {
	width: 70px
}

#kb a.on {
	display: block !important
}

.to0:hover .ti1 {
	display: block
}



.r9 {
	background-color: #bb9d91
}



.yc #da {
	margin: -31px 0 0 -23px
}

.en.yc #da {
	margin: -15px 0 0 -23px
}

.da #da {
	display: none !important
}

#br {
	position: relative;
	padding: 10px 0
}



.r51 {
	background-color: #a4b493
}

.r60:hover {
	background-color: #6e725a !important;
	color: #65be62 !important
}

.htx #qr,.htx #zx,.htx #fe,.htx #bm,.htx #ln,.htx #jt span,.htx #jb a {
	background: transparent
}

.pg2 .ta,.pg2 .tat,.pg2 .tay {
	background: #6a3574
}

.co #wr {
	padding: 0 !important
}

.alike li:hover {
	opacity: .7;
	filter: alpha(opacity=70)
}

.r13 {
	background-color: #730339
}

.lou {
	line-height: 30px;
	font-size: 16px;
	border: 2px dashed #f90;
	width: 280px;
	height: 30px;
	outline: 0
}

.r62:hover {
	background-color: #354c50 !important;
	color: #b451b0 !important
}

#zx:hover i {
	background-position: -112px -12px
}

.r90 {
	background-color: #569ced
}

.pg5 .to2 {
	background: #fff;
	background: #fcfc02
}



.on .tq3,.on .th3,.on .th4 {
	left: -9876px !important;
	bottom: -9876px !important
}

#xzt {
	border-bottom: 1px solid #28b3c3;
	font-size: 20px
}

.li:hover {
	background-position: -430px -486px
}

.r63:hover {
	background-color: #390a66 !important;
	color: #aaa783 !important
}







#bm {
	color: #fff;
	background: url(t4.jpg)\9;
	background: rgba(0,0,0,.4);
	margin: 4px 2px 0 0;
	margin-top: 5px\9;
	border-radius: 2px;
	font-family: Georgia;
	float: right
}

#jb a.on {
	background: #28b3c4 !important;
	color: #fff !important;
	border: 1px solid #28b3c4 !important
}

#jb .no {
	text-decoration: line-through !important
}

.fx a:hover {
	color: #fff
}

.pg2 .tati {
	border-color: #6a3574 transparent transparent transparent
}

.pg3 .tbg {
	background: #d075f3
}

#jt .on {
	color: #97ce45;
	position: relative
}

.s1 {
	display: inline-block;
	*padding-bottom: 10px
}

.r79 {
	background-color: #8211a8
}

.r56:hover {
	background-color: #8a409c !important;
	color: #f80e0e !important
}


.r64:hover {
	background-color: #979287 !important;
	color: #6b1792 !important
}

#jt span:hover {
	background: #000 !important;
	color: #d2f808
}

.c9 .xs span {
	float: left
}

.r26:hover {
	background-color: #f03 !important;
	color: #e2f3c3 !important
}



.on #r1 {
	display: block
}



.r76 {
	background-color: #929d43
}

#xzb a {
	color: #a253d6;
	padding: 0 0 1px 0
}

#kp:hover,#kn:hover {
	opacity: .7;
	filter: alpha(opacity=70)
}

.bg101 #r3 {
	border-color: transparent transparent #e4e7c8 transparent
}

#zx i {
	background: url(images/8.png) -112px 0;
	width: 10px;
	height: 12px;
	display: inline-block;
	margin-bottom: -3px
}

#qrt {
	border-bottom: 1px solid #b7b7b7;
	width: 300px;
	height: auto;
	padding-bottom: 5px
}

.r30:hover {
	background-color: #663 !important;
	color: #34d6a2 !important
}

.yc #zj.fu,.yc #zj.ku {
	padding-bottom: 0
}

#nb {
	position: relative
}

.r65 {
	background-color: #b975ac
}

#h1 #sf:hover {
	background: #c94c65
}

#kb a {
	display: none
}

.r27:hover {
	background-color: #691881 !important;
	color: #f79f05 !important
}

.pg3 .tb2,.pg3 .tay3,.pg3 .tay2,.yc .pg3 .to2 {
	background: #57b151
}

#log {
	margin-right: -38px
}

#xc {
	flo0at: left;
	padding: 5px
}

.hm .xh p {
	z-index: 1;
	z-index: 0\9;
	bottom: -1px;
	line-height: 17px
}

.r33:hover {
	background-color: #036 !important;
	color: #97a069 !important
}

.xh {
	margin: 5px;
	position: relative
}

.cy #ha {
	border: 0;
	margin: 0
}

.r42 {
	background-color: #b1adac
}

#kq {
	font-size: 0
}

.r16 {
	background-color: #76d2f9
}



.bg101 #jt .on {
	color: #28b3c3 !important
}

.pg4 .tay2,.pg4 .tay3 {
	background: #eff73b
}



.s1 #si {
	*left: 0
}

.r55 {
	background-color: #8a409c
}

.yc .ta {
	left: 0
}





.pg2 .tay2 {
	background: #fff
}

.cr:hover .ta,.tb,.yc .fu .tb,.yc .fu .cr:hover .ta,.yc .ku .tb,.yc .ku .cr:hover .ta {
	left: 0;
	bo0ttom: 0
}



.hm1 .hm .i {
	transition: 0s
}

.r1 {
	background-color: #68637c
}

#qr:hover #qrb {
	display: block
}

.gr,.cn .cg {
	color: #aaa !important
}

.gr:hover,.cn .cg:hover {
	background: none !important
}

.fr {
	float: right
}

.r8:hover {
	background-color: #a9aadc !important;
	color: #e7f00e !important;
	color: # !important
}


.fl {
	float: left
}

.en {
	overflow: hidden !important
}

#am span:hover,#am a:hover {
	background: #4695fa;
	color: #fff
}

.pg1 .tbg {
	background: #a7a7a7
}

#ebb:hover {
	background: #4bcf13
}

.r28 {
	background-color: #936
}

.hg {
	display: none
}




.o8 {
	opacity: .8;
	filter: alpha(opacity=80)
}



.r40 {
	background-color: #8225b6
}

#h2 .cw span,#h2 .cw a {
	transition: 0
}

.f1 {
	font: 12px/1.5\9 '\5FAE\8F6F\96C5\9ED1',"Microsoft YaHei",'Helvetica Neue','微软雅黑'
}





